/* B2B PAGE */
.b2b-section{
  max-width:900px;
  margin:auto;
}

.b2b-points{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
  margin-top:40px;
}

.b2b-card{
  background:#121212;
  padding:30px;
  border-radius:18px;
  border-left:3px solid #d4af37;
}

.b2b-card h4{
  margin-bottom:10px;
  font-size:18px;
}